!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ charset: 'UTF-8' }
    %title= content_for(:title)
    %meta{ content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name: 'viewport' }
    -# FIXME: Don't rely on others' CDN
    %link{ href: 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css', rel: 'stylesheet', type: 'text/css' }

    -# https://github.com/ColorlibHQ/AdminLTE/commit/235481d1d6324c1d4257f86c621700aa7f4a0b7f
    %link{ href: 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic', rel: 'stylesheet', type: 'text/css' }

    = stylesheet_link_tag    'barbeque/application', media: 'all'
    = javascript_include_tag 'barbeque/application'
    = csrf_meta_tags

  %body.skin-blue.sidebar-mini{ class: "#{controller_path.parameterize(separator: '_')}_controller #{action_name}_action" }
    .wrapper
      = render partial: 'layouts/barbeque/header'
      = render partial: 'layouts/barbeque/sidebar'
      .content-wrapper
        - if content_for?(:header)
          %section.content-header
            = content_for(:header)
        %section.content
          = yield
