.box.box-primary
  .box-header
    %h3.box-title.with_padding
      #{action_name.capitalize} Job Queue

  .box-body
    = form_for @job_queue do |f|
      - if @job_queue.errors.any?
        %strong #{pluralize(@job_queue.errors.count, 'error')} prohibited this job_queue from being saved:
        %ul
          - @job_queue.errors.full_messages.each do |msg|
            %li= msg

      .row.form-group
        .col-md-4
          = f.label :name
          - if @job_queue.persisted?
            -# Name can't be changed after it's created.
            .job_queue_name= @job_queue.name
          - else
            = f.text_field :name, class: 'form-control'

      .row.form-group
        .col-md-8
          = f.label :description
          = f.text_area :description, class: 'form-control', rows: 10

      .form-group
        = f.submit 'Save', class: 'btn btn-primary'
