- content_for(:title, "#{@job_queue.name} job queue - Barbeque")
- content_for(:header) do
  %ol.breadcrumb
    %li= link_to('Home', root_path)
    %li= link_to('Job queues', job_queues_path)
    %li.active= @job_queue.name

.box.box-primary
  .box-header
    %h3.box-title.with_padding
      Job Queue Details

  .box-body
    %p#notice= notice

    %table.table.table-bordered
      %tbody
        %tr
          %th Name
          %td= @job_queue.name
        %tr
          %th Description
          %td= @job_queue.description

    = link_to 'Edit', edit_job_queue_path(@job_queue), class: 'btn btn-primary'
    = link_to 'Destroy', job_queue_path(@job_queue),
      class: 'btn', method: :delete, data: { confirm: 'Are you sure to delete queue?' }

.box
  .box-header
    %h3.box-title.with_padding
      SQS attributes
  .box-body
    #sqs-attributes{data: {url: sqs_attributes_job_queue_url(@job_queue.id)}}
      %i.loading-indicator.fa.fa-spinner.fa-spin
    #sqs-dlq-attributes

= link_to 'Back', job_queues_path
