.box.box-primary
  .box-header
    %h3.box-title.with_padding
      All Job Definitions
    = link_to new_job_definition_path, class: 'btn btn-primary pull-right' do
      New Job Definition

  .box-body
    %table.table.table-bordered
      %thead
        %tr
          %th Application
          %th Job
          %th Description
          %th

      %tbody
        - @job_definitions.each do |job_definition|
          %tr
            %td= link_to job_definition.app.name, app_path(job_definition.app.id)
            %td= job_definition.job
            %td= job_definition.description
            %td
              = link_to 'View Details', job_definition, class: 'btn btn-default btn-sm'
